body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app {
  text-align: center;
  background-color: #FFDF64;
  height:100%;

}

/*Mustard: FFDF64
Livid: 6699CC
Mango Tango: FF8C42
Independence: 4C5760
Cadet Grey: 93A8AC*/

.app-header {
  background-color: #6699CC;
  padding-top: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}
